<StackLayout orientation="vertical">
    <Label text="Native APIs Page" class="pageHeading"></Label>
    <!-- <Button text="Take photo" (tap)="takePhoto()" horizontalAlignment="left"></Button> -->
    <Button text="Take picture" (tap)="takePhoto()" horizontalAlignment="left"></Button>
    <Image [src]='saveImage' width="175" height="175" ></Image>  

    <!-- <Image [src]='imgCamera' width="75" height="75" ></Image> -->
    <Button text="Get Location" (tap)="getLocation()" horizontalAlignment="left"></Button>
    <Label [text]="latitude"></Label>
    <Label [text]="longitude"></Label>
</StackLayout>