<StackLayout>
    <BottomNavigation>
        <TabStrip>
            <TabStripItem>
                <Label text="List"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="Native APIs"></Label>
            </TabStripItem>
        </TabStrip>
        <TabContentItem>
            <ns-post-list></ns-post-list>
        </TabContentItem>
        <TabContentItem>
            <ns-native-apis></ns-native-apis>
        </TabContentItem>
    </BottomNavigation>
</StackLayout>