<StackLayout>
    <BottomNavigation>
        <TabStrip>
            <TabStripItem>
                <Label text="List"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="Camera"></Label>
            </TabStripItem>
            <TabStripItem>
                <Label text="Location"></Label>
            </TabStripItem>
        </TabStrip>
        <TabContentItem>
            <ns-post-list></ns-post-list>
        </TabContentItem>
        <TabContentItem>
            <ns-camera></ns-camera>
        </TabContentItem>
        <TabContentItem >
            <ns-location></ns-location>
        </TabContentItem>
    </BottomNavigation>
</StackLayout>